
# Environment variables
.env
*.env

# Virtual environments
textenv/
venv/
.venv/
env/
ENV/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Temporary files
*.tmp

# IDE settings
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log
# Temporary files
*.tmp


